header {
    background-color: #333; /* Задайте колір фону хедера */
   
  }
  
  nav {
    display: flex; /* Вирівняйте елементи навігації по горизонталі */
    justify-content: space-between; /* Розташуйте елементи навігації по краях */
    align-items: center; /* Вирівняйте елементи по вертикалі по центру */
    
    // font-size: 15px;
  }
  .logo{
    display: flex;
    align-items: center;
  }
  .logo a {
    color: #fff; /* Задайте колір тексту логотипу */
    font-size: 24px; /* Задайте розмір шрифту для логотипу */
    text-decoration: none; /* Відключіть підкреслення для посилання */
    
  }
  
  .menu {
    list-style: none; /* Відключіть маркери списку */
    display: flex; /* Вирівняйте елементи меню по горизонталі */
  }
  
  .menu li {
    margin-right: 20px; /* Задайте відступи між пунктами меню */
  }
  
  .menu li:last-child {
    margin-right: 0; /* Видаліть відступ після останнього пункту меню */
  }
  
  .menu a {
    color: #fff; /* Задайте колір тексту пунктів меню */
    text-decoration: none; /* Відключіть підкреслення для посилань */
  }
  
  .icons {
    display: flex; /* Вирівняйте іконки по горизонталі */
    align-items: center; /* Вирівняйте іконки по вертикалі по центру */
    padding-right: 24px;
  }
  
  .icons a {
    color: #fff; /* Задайте колір іконок */
    margin-left: 15px; /* Задайте відступи між іконками */
  }
  
  /* Опціонально: додайте стилі для іконок при наведенні */
  .icons a:hover {
    opacity: 0.7;
  }
  .icons img{
    max-width: 50px;
    max-height: 50px;
  }